/* タブレット向け */
@media all and (max-width: 1000px) {
    
    .container {
        max-width: 1000px;
    }
    
}

/* スマートフォン向け */
@media all and (max-width: 670px) {
    .container {
        max-width: 670px;
    }

    /* ヘッダー */

    .header-center {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* メイン */
    .main-wrapper {
        text-align: left;
    }

    .limit {
        width: 100%;
    }

    .main-wrapper h2 {
        margin-left: 0px;
    }

    /* ボタン */
    .btn-wrapper {
        display: block;
    }

    /* メイン2 */
    .main2 {
        padding: 80px 0 80px 0;

    }

    .main2 img {
        width: 350px;
        float: left;
    }

}